<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/customer/register">Register User</a>|
    <a href="/account/details">Account Details</a>|
</nav>

<hr>

<br>
<br>
<span th:text="${message}"> </span>

<h2>Lediga rum</h2>
<form th:action="@{/rooms/available}" method="get">
    <label>Från:</label>
    <input type="date" name="from" required>
    <label>Till:</label>
    <input type="date" name="to" required>
    <button type="submit">Sök</button>
</form>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/login">Logout</a>
</nav>

<hr>

<table>
    <tr><th>Nummer</th><th>Typ</th><th>Pris</th><th>Status</th></tr>
    <tr th:each="room : ${rooms}">
        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.roomType}"></td>
        <td th:text="${room.price}"></td>
        <td>
            <span th:if="${room.available}" style="color:green;">Ledigt</span>
            <span th:unless="${room.available}" style="color:red;">Upptaget</span>
        </td>
    </tr>
</table>

</body>
</html>