<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create account</title>
</head>
<body>
<button onclick="history.back()">⬅ Back</button>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/register">Register User</a>|
    <a href="/account/create">Create Account</a>|
    <a href="/account/details">Account Details</a>|

</nav>

<hr>


<h2>Skapa konto för befintlig kund</h2>

<form th:action="@{/account/create}" th:object="${accountRequest}" method="post">

    <label>Kund ID:</label>
    <input type="number" th:field="*{id}" required>

    <label>E post:</label>
    <input type="email" th:field="*{email}" required>

    <label>Lösenord:</label>
    <input type="password" th:field="*{passwordHash}" required>

    <button type="submit">Skapa konto</button>
</form>



</body>
</html>