<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>guest information update</title>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/register">Register User</a>|
    <a href="/account/create">Create Account</a>|
    <a href="/account/details">Account Details</a>|
    <a href="/guest/update">Guest Information</a>

</nav>

<br>
<br>

<form th:action="@{'/guest/update/' + ${guest.guestId}}" method="post">

    <label>Prefix:</label>
    <input type="text" th:value="${guest.prefix}" name="prefix"/>

    <br><br>

    <label>Phone number:</label>
    <input type="text" th:value="${guest.telephone}" name="telephone"/>

    <br><br>

    <label>Nationality:</label>
    <input type="text" th:value="${guest.nationality}" name="nationality"/>

    <br><br>

    <input type="hidden" th:value="${guest.guestId}" name="guestId"/>
    <input type="hidden" th:value="${guest.firstName}" name="firstName"/>
    <input type="hidden" th:value="${guest.lastName}" name="lastName"/>
    <input type="hidden" th:value="${guest.email}" name="email"/>


    <button type="submit">Save update</button>


</form>
</body>
</html>