<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>MarizaGrandHotel</title>
    </head>
    <body>

    <nav>
        <a href="/">Home</a> |
        <a href="/rooms">All Rooms</a> |
        <a href="/bookings">All Bookings</a> |
        <a href="/account/login">Login</a>|
        <a href="/register">Register User</a>|
        <a href="/account/create">Create Account</a>|
        <a href="/account/details">Account Details</a>|

    </nav>

    <hr>

    <h1>Mariza Grand Hotel</h1>
    <br>
    <hr>
    <br>
    <br>
    <br>


    <form th:action="@{/account/login}" method="post">
        <label>Email:</label>
        <input type="email" name="email" required>

        <label>Lösenord:</label>
        <input type="password" name="password" required>

        <button type="submit">Login</button>
    </form>

    <p th:if="${error}" th:text="${error}" style="color:red"></p>

    <form th:action="@{/account/logout}" method="post">


    <button type="submit">Log out</button>
    <span th:text="${message}"> </span>

</form>




    </body>



    </html>