<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <title>MarizaGrandHotel</title>
    </head>
    <body>

    <nav>
        <a href="/">Home</a> |
        <a href="/rooms">All Rooms</a> |
        <a href="/bookings">All Bookings</a> |
        <a href="/account/login">Login</a>|
        <a href="/register">Register User</a>|
        <a href="/account/create">Create Account</a>|
        <a href="/account/details">Account Details</a>|

    </nav>

    <hr>

    <h1>Mariza Grand Hotel</h1>

    <video height="320" width="640" muted autoplay controls>
        <source th:src="@{'IMG_0533.MOV'}"
                type="video/mp4">
    </video>



    </body>


    </body>
    </html>