<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<button onclick="history.back()">⬅ Back</button>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/account/create">Create Account</a>|
    <a href="/account/details">Account Details</a>|
</nav>

<hr>



<h2>Logga in</h2>

<form th:action="@{/account/login}" method="post">
    <label>Email:</label>
    <input type="email" name="email" required>

    <label>Lösenord:</label>
    <input type="password" name="password" required>

    <button type="submit">Logga in</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red"></p>

</body>
</html>