<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register Customer</title>
</head>
<body>

<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/register">Register User</a>|
    <a href="/account/create">Create Account</a>|
    <a href="/account/details">Account Details</a>|
</nav>

<hr>

<h2 th:text="${'Welcome' +' ' +customerInloggade}"></h2>


<h2>Register customer</h2>

<div th:if="${errorMessage}" >
    <p th:text="${errorMessage}"></p>
</div>


<form th:action="@{http://customer-service:8081/api/customers}"
      th:object="${customer}"
      method="post">




    <div>
    <label>Förnamn:</label>
    <input type="text" th:field="*{firstName}" required>
    </div>

    <br>

    <div>
    <label>Efternamn:</label>
    <input type="text" th:field="*{lastName}" required>
    </div>

    <br>

    <div>
    <label>E post:</label>
    <input type="email" th:field="*{email}" required>
    </div>

    <br>

    <div>
    <label>Prefix:</label>
    <input type="text" th:field="*{phoneNumber}">
    </div>

    <br>

    <div>
    <label>Telefon:</label>
    <input type="text" th:field="*{address}">
    </div>

    <br>

    <div>
    <label>Nationalitet:</label>
    <input type="text" th:field="*{city}">
    </div>


    <br>
    <br>
    <hr>


    <div>
    <button type="submit">Registrera</button>
    </div>

    <br>
    <hr>
</form>




</body>
</html>