<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>RoomDetails</title>
</head>
<body>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/customer/register">Register User</a>|
    <a href="/account/details">Account Details</a>|
</nav>

<hr>



<h1>Rum detaljer</h1>


<p><strong>Room number:</strong> <span th:text="${room.roomNumber}"></span></p>
<p><strong>Floor:</strong> <span th:text="${room.floor}"></span></p>
<p><strong>Type:</strong> <span th:text="${room.roomType}"></span></p>
<p><strong>Price/night €:</strong> <span th:text="${room.pricePerNight}"></span></p>
<ul><li><a th:href="@{/bookingForms}">Boka hotell</a></li></ul>


<a href="/rooms">Tillbaka</a>



</body>
</html>