<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>All Rooms</title>
</head>
<body>

<button onclick="history.back()">⬅ Back</button>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>|
    <a href="/register">Register User</a>|
    <a href="/account/create">Create Account</a>|
    <a href="/account/details">Account Details</a>|
</nav>

<hr>

<h2 th:text="${'Welcome' +' ' +guestInloggade}"></h2>

<h1>All Rooms</h1>


<table border="1">
    <tr>
        <th></th>
        <th></th>
        <th>Room Number</th>
        <th>Floor</th>
        <th>Type</th>
        <th>Pris per natt</th>
        <th>Extra Bed Available</th>
        <th>Status</th>
        <th>Check in</th>
        <th>Check out</th>
    </tr>

    <tr th:each="room : ${rooms}">
        <td>
            <a th:href="@{'/rooms/' + ${room.roomNumber}}">show</a>
        </td>
        <td>
            <a th:href="@{'/bookingForms?roomNumber=' + ${room.roomNumber}}">Boka Room</a>
        </td>


        <td th:text="${room.roomNumber}"></td>
        <td th:text="${room.floor}"></td>
        <td th:text="${room.roomType}"></td>
        <td th:text="${room.pricePerNight}"></td>
        <td th:text="${room.extraBedAvailable}"></td>

        <!-- Occupied / Ledigt -->
        <td>
            <span th:if="${room.occupied}" style="color: red; font-weight: bold;">Upptaget</span>
            <span th:unless="${room.occupied}" style="color: green; font-weight: bold;">Ledigt</span>
        </td>

        <!-- Bokningsdatum -->
        <td th:text="${room.checkInDate != null ? room.checkInDate : '-'}"></td>
        <td th:text="${room.checkOutDate != null ? room.checkOutDate : '-'}"></td>
    </tr>

</table>

</body>



</html>