<!DOCTYPE html>
<html lang="en">
<body>

<h2>Update Booking</h2>
<nav>
    <a href="/">Home</a> |
    <a href="/rooms">All Rooms</a> |
    <a href="/bookings">All Bookings</a> |
    <a href="/account/login">Login</a>
    <a href="/register">Register User</a>|
    <a href="/account/create">Create Account</a>|
    <a href="/account/details">Account Details</a>|
</nav>

<hr>



<form th:action="@{'/booking/update/' + ${booking.bookingId}}" method="post">

    <label>Room number:</label>
    <input type="text" th:value="${booking.roomNumber}" name="roomNumber"/>

    <br><br>

    <label>Check-in Date:</label>
    <input type="date" th:value="${booking.checkInDate}" name="checkInDate"/>

    <br><br>

    <label>Check-out Date:</label>
    <input type="date" th:value="${booking.checkOutDate}" name="checkOutDate"/>

    <br><br>

    <input type="hidden" th:value="${booking.bookingId}" name="bookingId"/>
    <input type="hidden" th:value="${booking.guestId}" name="guestId"/>
    <input type="hidden" th:value="${booking.hotelId}" name="hotelId"/>

    <button type="submit">Save update</button>

</form>

</body>
</html>
